.message_list {



}

.message_item{
    border-bottom:1px solid #CCC;
    padding:0 0 15px 0;
    margin:15px 0 20px 0;
    float:left;
    width:100%;
}

.message_text {
    margin-left:120px;
}

.user {
    float:left;
    width:100px;
}